In [146]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import scipy.stats as stats

In [147]:
# 1.The Lending Club is a peer-to-peer lending site where members make loans to each other. The site makes anonymized data on loans and borrowers publicly available

In [148]:
# Datasets

In [149]:
Loans = pd.read_csv(r"C:\Users\Dell\OneDrive\Desktop\Analytics lab\New folder (2)\LoansData.csv")
Loans

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [150]:
# Data Preparation

In [151]:
Loans.columns = Loans.columns.str.replace('.','_')

C:\Users\Dell\AppData\Local\Temp\ipykernel_19020\1799998796.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Loans.columns = Loans.columns.str.replace('.','_')

In [152]:
Loans.Interest_Rate = pd.to_numeric(Loans.Interest_Rate.str.replace('%',''))
Loans.Loan_Length = pd.to_numeric(Loans.Loan_Length.str.replace(' months',''))

In [153]:
Fico = Loans.FICO_Range.str.split('-',expand=True).astype('float64')
Fico.columns = ('Low','High')
Loans['Fico'] = (Fico.Low + Fico.High)/2

In [154]:
Loans.dropna(inplace=True)

In [155]:
# a. Intrest rate is varied for different loan amounts (Less intrest charged for high loan amounts)

In [156]:
#Corelation
H0 - Not different
Ha - Different

CI - 95%
P - 0.05

#Conc -> Ho Rejected
#Higher loan amounts has low interest rate & vice versa

SyntaxError: invalid syntax (4098649116.py, line 2)

In [157]:
stats.pearsonr(Loans.Interest_Rate,Loans.Amount_Funded_By_Investors)

(0.3315955311036452, 5.064256950483673e-63)

In [158]:
# c. Inrest rate varies for different purpose of loans

In [159]:
#Annova/f_tes
H0 - same
Ha - different

CI - 95%
P - 0.05

#Conc -> Ho Rejected
#Interest rate different for different loan purpose

SyntaxError: invalid syntax (2689630672.py, line 5)

In [160]:
s1 = Loans.loc[Loans.Loan_Purpose == 'debt_consolidation','Interest_Rate'].dropna()
s2 = Loans.loc[Loans.Loan_Purpose == 'credit_card','Interest_Rate'].dropna()
s3 = Loans.loc[Loans.Loan_Purpose == 'other','Interest_Rate'].dropna()
s4 = Loans.loc[Loans.Loan_Purpose == 'moving','Interest_Rate'].dropna()
s5 = Loans.loc[Loans.Loan_Purpose == 'car','Interest_Rate'].dropna()
s6 = Loans.loc[Loans.Loan_Purpose == 'vacation','Interest_Rate'].dropna()
s7 = Loans.loc[Loans.Loan_Purpose == 'home_improvement','Interest_Rate'].dropna()
s8 = Loans.loc[Loans.Loan_Purpose == 'house','Interest_Rate'].dropna()
s9 = Loans.loc[Loans.Loan_Purpose == 'major_purchase','Interest_Rate'].dropna()
s10 = Loans.loc[Loans.Loan_Purpose == 'educational','Interest_Rate'].dropna()
s11 = Loans.loc[Loans.Loan_Purpose == 'medical','Interest_Rate'].dropna()
s12 = Loans.loc[Loans.Loan_Purpose == 'wedding','Interest_Rate'].dropna()
s13 = Loans.loc[Loans.Loan_Purpose == 'small_business','Interest_Rate'].dropna()
s14 = Loans.loc[Loans.Loan_Purpose == 'small_business','Interest_Rate'].dropna()

In [161]:
stats.f_oneway(s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13,s14)

F_onewayResult(statistic=7.13356625879892, pvalue=8.074920725223914e-14)

In [162]:
# d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [163]:
#Annova/f_tes
H0 - Relation
Ha - No Relation

CI - 95%
P - 0.05

#Conc -> Ho Rejected
#No relation between FICO & Home ownership

SyntaxError: invalid syntax (3543436491.py, line 3)

In [164]:
s1 = Loans.loc[Loans.Home_Ownership == 'MORTGAGE','Fico']
s2 = Loans.loc[Loans.Home_Ownership == 'RENT','Fico']
s3 = Loans.loc[Loans.Home_Ownership == 'OWN','Fico']
s4 = Loans.loc[Loans.Home_Ownership == 'OTHER','Fico']

In [165]:
stats.f_oneway(s1,s2,s3,s4)

F_onewayResult(statistic=20.65464665222211, pvalue=3.2682005447315283e-13)

In [166]:
# 2.When an order is placed by a customer of a small manufacturing company, a price quote must be developed for that order. Because each order is unique, quotes must be established on an order-by-order basis by a pricing expert. The price quote process is labor-intensive, as prices depend on many factors such as the part number, customer, geographic location, market, and order volume. The sales department manager is concerned that the pricing process is too complex, and that there might be too much variability in the quoted prices. An improvement team is tasked with studying and improving the pricing process.
#

In [167]:
prices = pd.read_csv(r"C:\Users\Dell\OneDrive\Desktop\Analytics lab\New folder (2)\Price_Quotes.csv")

In [168]:
# We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

In [169]:
#Relational t test
H0 - Relation
Ha - No Relation

CI - 95%
P - 0.05

#Conc -> Ho Rejected
#at 95% CI there is no relation between both the prices

SyntaxError: invalid syntax (354559330.py, line 3)

In [170]:
stats.ttest_rel(prices.Barry_Price,prices.Mary_Price)

Ttest_relResult(statistic=2.521376510892349, pvalue=0.02840588045242053)

In [171]:
# 3.The New Life Residential Treatment Facility is a NGO that treats teenagers who have shown signs of mental illness. It provides housing and supervision of teenagers who are making the transition from psychiatric hospitals back into the community. Because many of the teenagers were severely abused as children and have been involved with the juvenile justice system, behavioral problems are common at New Life. Employee pay is low and staff turnover (attrition) is high

In [172]:
Treat = pd.read_csv(r"C:\Users\Dell\OneDrive\Desktop\Analytics lab\New folder (2)\Treatment_Facility.csv")

In [173]:
Treat.rename(columns=({'VAR4':'TRFF','VAR5':'CI'}),inplace=True)

In [174]:
#Independent t test
H0 - Relation
Ha - No Relation

CI - 95%
P - 0.05

#Conc -> Ha Rejected
#Re engineering effort has increased the CI %

SyntaxError: invalid syntax (4281428508.py, line 3)

In [175]:
s1 = Treat.loc[Treat.Reengineer=='Prior','CI']
s2 = Treat.loc[Treat.Reengineer=='Post','CI']

In [176]:
stats.ttest_ind(s1,s2)

Ttest_indResult(statistic=1.6279144253528646, pvalue=0.12091989189884149)

In [177]:
# 4.Software development projects typically follow six basic phases: Requirements, design, implementation (and integration), testing (validation), deployment (installation) and maintenance. First, general requirements are gathered, and the scope of the functionality is defined. Then, alternative scenarios for the required functionality are developed and evaluated. Implementation, usually 50% or more of the development time, is the phase in which the design is translated into programs and integrated with other parts of the software – this is when software engineers actually develop the code. During the final phases, programs are tested, software is put into use, and faults or performance issues are addressed.

In [178]:
prior = pd.read_csv(r"C:\Users\Dell\OneDrive\Desktop\Analytics lab\New folder (2)\Priority_Assessment.csv")

In [179]:
#ANNOVA / F reg
H0 - Relation
Ha - No Relation

CI - 95%
P - 0.05

#Conc -> Ha Rejected
#priority has no relation with completion time

SyntaxError: invalid syntax (1232392605.py, line 3)

In [180]:
s1 = prior.loc[prior.Priority=='High','Days']
s2 = prior.loc[prior.Priority=='Medium','Days']
s3 = prior.loc[prior.Priority=='Low','Days']

In [181]:
stats.f_oneway(s1,s2,s3)

F_onewayResult(statistic=1.812311010076072, pvalue=0.16411459461716182)

In [182]:
# 5.Film on the Rocks is a summer movie series held at the world-renowned Red Rocks Amphitheatre, which is situated on a hillside of the Rocky Mountains in Morrison, Colorado fifteen miles west of Denver. The film series features classic films, and pre-show entertainment including bands and comedians. Among the features that have made Red Rocks an internationally-famous concert stage are sweeping views of Denver, outstanding acoustics, and cool, dry Colorado summers.

In [183]:
Films = pd.read_csv(r"C:\Users\Dell\OneDrive\Desktop\Analytics lab\New folder (2)\Films.csv")

In [184]:
Films.Gender = np.where(Films.Gender=='Female',2,Films.Gender)
Films.Gender = np.where(Films.Gender=='Male',1,Films.Gender)
Films.Gender = np.where(Films.Gender=='1',1,Films.Gender)
Films.Gender = np.where(Films.Gender=='2',2,Films.Gender)

In [185]:
Films.Marital_Status = np.where(Films.Marital_Status=='Married',1,Films.Marital_Status)
Films.Marital_Status = np.where(Films.Marital_Status=='Single',2,Films.Marital_Status)
Films.Marital_Status = np.where(Films.Marital_Status=='Slngle',2,Films.Marital_Status)
Films.Marital_Status = np.where(Films.Marital_Status=='1',1,Films.Marital_Status)
Films.Marital_Status = np.where(Films.Marital_Status=='2',2,Films.Marital_Status)
Films.Marital_Status.fillna(Films.Marital_Status.mode,inplace=True)

In [186]:
Films.Gender = Films.Gender.astype('float64')
Films.Marital_Status = Films.Marital_Status.astype('float64')

TypeError: float() argument must be a string or a number, not 'method'

In [187]:
Over_all = pd.DataFrame(Films.groupby('Overall').Overall.count())
Over_all['Percent'] = Over_all.values/Films.Overall.sum().round(2)

In [188]:
Over_all

         Overall   Percent
Overall
1.0          151  0.284369
2.0          160  0.301318
3.0           12  0.022599
4.0            1  0.001883
5.0            4  0.007533

In [189]:
#ANNOVA / F reg
H0 - Relation
Ha - No Relation

CI - 95%
P - 0.05

#Conc -> H0 Rejected
#Parking,Clean,Overall are linked to satisfaction

SyntaxError: invalid syntax (3744867477.py, line 3)

In [190]:
s1 = Films.Sinage.dropna()
s2 = Films.Parking.dropna()
s3 = Films.Clean.dropna()
s4 = Films.Overall.dropna()

In [191]:
stats.f_oneway(s3,s2,s4)

F_onewayResult(statistic=2.824020764284959, pvalue=0.059849988043050875)

In [192]:
#Gender

Films.groupby('Gender').Gender.count().sort_values(ascending = False)
#Females are the majority audience

Gender
2.0    213
1.0    117
Name: Gender, dtype: int64

In [193]:
#Marital_Status

Films.groupby('Marital_Status').Gender.count().sort_values(ascending = False)
#Singles are the majority audience

TypeError: '<' not supported between instances of 'method' and 'int'

In [ ]:
#Age

Films.groupby('Age').Gender.count().sort_values(ascending = False)
#13 to 30 yrs are the majority audience

In [ ]:
#Income

Films.groupby('Income').Gender.count().sort_values(ascending = False)
#Less than 50K salary are the majority audience

In [ ]:
Films.groupby('Hear_About').Hear_About.count().sort_values(ascending = False).head(3)

#Word of Mouth is th most effective mode of communication